@model IEnumerable<TravelO.Models.Place>

@{
    ViewData["Title"] = "Index";
}

<h1>Places</h1>

<p>
    <a asp-action="Create">Add New Place</a>
</p>
<table class="table sortable table-striped table-info">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activities)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurants)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PerfectTimeToVisit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo) 
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Province)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activities)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Restaurants)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PerfectTimeToVisit)
            </td>
            <td>
                @if (item.Photo != null)
                {
                    <img src="~/img/places/@item.Photo" alt="Places Photo" class="thumb" />
                }
                else
                {
                    <img src="~/img/places/place-holder.jpg" alt="Places Photo" class="thumb" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Province.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PlaceID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PlaceID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PlaceID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
