@model TravelO.Models.Cost

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cost</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActivitiesCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActivitiesCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FoodCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FoodCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccomodationCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccomodationCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AverageTotalCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AverageTotalCost)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CostID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
